@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

html,
body {
  font-family: sans-serif;
}

#form-container {
  display: flex;
  margin-top: 32px;
}

#form {
  max-width: 40%;
}

.label {
  color: #4b5d5f;
}

@media (max-width: 760px) {
  #form-container {
    display: block;
  }

  #form {
    max-width: 3.4in;
  }
}

/* Date picker (deprecated for now)  */
input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

input[type='date']:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type='date']:focus:before,
input[type='date']:valid:before {
  content: '';
}
